<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>moments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAC3FD9D1CA3F24B0083C500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC3FDB61CA3F4470083C500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC3FDC41CA3F4580083C500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
